# Conda artefacts
*.lock
*.conda
.conda_envs/

# VS Code settings
.vscode/

# Only ignore the project’s root data/ (processed and raw) folder
/data/processed/
/data/raw/

# Python bytecode
__pycache__/
# Runtime artifacts (generated locally, never committed)
models/*.h5
figures/*.png
logs/**
