# Conda artefacts
*.lock
*.conda
.conda_envs/

# Python artefacts
*.egg-info/

# VS Code settings
.vscode/

# Only ignore the project’s root data/ folder
/data/

# Python bytecode
__pycache__/
# Runtime artifacts (generated locally, never committed)
models/*.h5
figures/*.png
logs/**
